@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.shadow {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.menu-hamburger {
    //menu btn hidden actually for bigger screens
    display: none;
}

.fixed {
    overflow: hidden;
}

ul {
    list-style-type: none;
    li {
        a {
            text-decoration: none;
        }
    }
}

.bg-white {
    background-color: $white;
}

.header {
    background: url(../images/excavator-1174428_960_720.jpg);
    width: 100%;
    height: 100vh;
    margin-bottom: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: -1;
        bottom: 0;
    }
}

.nav-container {
    width: 100%;
    .nav {
        width: 100%;
        padding: 1.6em;
        max-width: 1440px;
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
        transition: all 250ms ease-in-out;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.7);
            z-index: -1;
            bottom: 0;
        }
        .logo {
            img {
                height: 40px;
            }
        }
        .menu {
            .nav-links {
                display: flex;
                width: 100%;
                transition: all 250ms ease-in-out;
                align-items: center;
                .nav-btn-link {
                    border: 2px solid $Black;
                    margin-left: 1em;
                    a {
                        .btn-link {
                            cursor: pointer;
                            border: none;
                            font-weight: 400;
                            font-family: $heading;
                            padding: 0.4em 0.6em;
                            text-transform: uppercase;
                            background-color: transparent;
                            font-size: 1rem;
                            transition: all 250ms ease-in-out;
                            &:hover {
                                color: $white;
                                background-color: $Black;
                            }
                        }
                    }
                }
                .nav-link {
                    .nav-link-item {
                        margin: 0em 1em;
                        font-family: $heading;
                        color: $Black;
                        position: relative;
                        &::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            background: $Black;
                            bottom: -8px;
                            left: 0;
                            transform: scale(0);
                            transition: transform 250ms ease-in-out;
                            transform-origin: right;
                        }
                        &:hover {
                            &::after {
                                transform: scale(1);
                                transform-origin: left;
                            }
                        }
                    }
                }
            }
        }
    }
}

.title-container {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 5em;
    .title-box {
        width: 80%;
        margin: 0 auto;
        .title {
            padding-top: 3em;
            font-size: 5rem;
            font-family: $heading;
            color: $white;
            width: 80%;
            line-height: 1;
            text-transform: uppercase;
        }
        .title-content {
            font-family: $text;
            color: $white;
            width: 60%;
            line-height: 1;
            padding-top: 2em;
        }
    }
}

.about-section {
    width: 100%;
    max-width: 1440px;
    margin-bottom: 6em;
    .about-content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .about-content-head {
            display: none;
        }
        .about-image {
            padding-top: 1em;
            width: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .about-details {
            width: 50%;
            padding: 0em 0em 0em 3em;
            font-family: $text;
            .about-head {
                font-family: $heading;
                font-size: 2.5rem;
                padding-bottom: 1em;
                position: relative;
                width: max-content;
            }
            .about-details-content {
                width: 100%;
                p {
                    padding-bottom: 1.5em;
                }
            }
            .about-btn {
                padding: 1em 0em;
                a {
                    .btn-link {
                        cursor: pointer;
                        border: 2px solid $Black;
                        font-weight: 400;
                        font-family: $heading;
                        padding: 0.4em 0.6em;
                        background-color: transparent;
                        font-size: 1rem;
                        transition: all 250ms ease-in-out;
                        &:hover {
                            color: $white;
                            background-color: $Black;
                        }
                    }
                }
            }
        }
    }
}

//review section
.review-section {
    max-width: 1440px;
    background: url(../images/construction-1510561_960_720.jpg);
    width: 100%;
    padding: 1em;
    background-size: cover;
    background-position: center;
    margin-bottom: 5em;
    padding-bottom: 7em;
    .review-container {
        width: 80%;
        margin: 0 auto;
        font-size: 2.5rem;
        font-family: $heading;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            padding: 0.5em;
        }
        .card-container {
            width: 100%;
            display: flex;
            scroll-snap-type: x mandatory;
            overflow-x: scroll;
            background: rgba(255, 255, 255, 0.3);
            .card {
                display: flex;
                margin: 0.5em;
                background: $white;
                scroll-snap-align: center;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 1em;
                .card-top {
                    padding: 0em 1em;
                    img {
                        height: 80px;
                        width: 80px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .card-details {
                    text-align: center;
                    color: $Black;
                    padding-top: 0.5em;
                    .name {
                        font-size: 1.2rem;
                        padding: 0.5em 0em;
                    }
                    .review {
                        font-size: 1rem;
                        font-family: $text;
                        padding: 0.5em 0em;
                    }
                }
            }
        }
    }
}

.footer {
    max-width: 1440px;
    width: 100%;
    font-family: $heading;
    background: rgba(0, 0, 0, 0.1);
    padding: 2em;
    .footer-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        .top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .footer-title {
                font-size: 1.5rem;
            }
            .social-media {
                display: flex;
                li {
                    margin: 0em 1.5em;
                    list-style-type: none;
                }
            }
        }
        .copyright {
            margin: 1em 0em;
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }
}