.gallery-section {
    height: 15vh !important;
    background: $white !important;
    margin-bottom: 0;
    &::after {
        background: $white;
    }
}

.zIndex {
    z-index: 10;
}

.gallery {
    max-width: 1440px;
    width: 100%;
    margin-bottom: 7em;
    .container {
        width: 80%;
        margin: 0 auto;
        .title {
            font-family: $heading;
            font-size: 4rem;
            margin-top: 1rem;
            text-align: center;
            margin-bottom: 1em;
            text-transform: uppercase;
        }
        .gallery-grid {
            display: grid;
            width: 100%;
            place-items: center;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2.5em;
            row-gap: 1em;
            .gallery-grid-item {
                width: 100%;
                .pic-text {
                    margin-top: 0.5em;
                    font-family: $text;
                    text-align: center;
                }
                .grid-item-img {
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        transition: all 250ms ease-in-out;
                        &:hover {
                            transform: scale(1.2);
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}

.photo-full {
    max-width: 1440px;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    height: 100vh;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: none;
    isolation: isolate;
    background-color: rgba(0, 0, 0, 0.7);
    .photo-container {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin: 0 auto;
        svg {
            position: absolute;
            z-index: 100;
            top: 0%;
            right: 5%;
            cursor: pointer;
        }
        .full-img {
            width: 80%;
        }
        .text-input {
            padding-top: 0.2em;
            color: $white;
            font-family: $text;
            font-size: 4rem;
        }
    }
}