@include media-mobile {
    //menu
    .fixed {
        position: fixed;
    }
    .open {
        transform: translateX(100%);
    }
    .header {
        height: 100vh;
        background: url(../images/excavator-1174428_960_720.jpg);
        background-size: cover;
        nav {
            position: fixed;
            padding-top: 2em;
            .menu-hamburger {
                display: block;
                position: relative;
                z-index: 1000;
                span {
                    display: block;
                    background-color: white;
                    margin: .3em;
                    height: 3px;
                    width: 25px;
                    transform-origin: 7% 68%;
                    transition: all 250ms ease-in-out;
                }
                &.close {
                    >span:first-child {
                        transform: rotate(45deg);
                    }
                    >span:nth-child(2) {
                        opacity: 0;
                    }
                    >span:last-child {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
    .logo {
        margin-left: -0.5em;
        position: relative;
        z-index: 10;
    }
    .menu {
        background: $white;
        position: fixed;
        top: 0;
        width: 80%;
        bottom: 0;
        z-index: 12;
        margin-left: auto;
        left: 0;
        right: 0;
        height: 100vh;
        transition: all 250ms ease-in-out;
        .nav-links {
            flex-direction: column;
            width: 85%;
            height: 100vh;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            .nav-btn-link {
                margin-top: 2.5em;
                margin-right: 1em;
                border: 2px solid $Black;
                a {
                    .btn-link {
                        border: none;
                        padding: 0.3em 0.5em;
                        background-color: $white;
                        font-size: 1.5rem !important;
                    }
                }
            }
            .nav-link {
                font-size: 1.5rem;
                margin-bottom: 0.7em;
                .nav-link-item {
                    margin: 0em;
                    text-transform: uppercase;
                    font-family: $text;
                    color: $Black !important;
                }
            }
        }
    }
    //content on hero
    .title-container {
        .title-box {
            width: 80%;
            margin: 0 auto;
            .title {
                padding-top: 3em;
                font-size: 2.5rem !important;
                width: 100%;
            }
            .title-content {
                padding-top: 1em;
                width: 100%;
            }
        }
    }
}

@include media-tablet {
    //menu
    .fixed {
        position: fixed;
    }
    .open {
        transform: translateX(100%);
    }
    .header {
        height: 100vh;
        background: url(../images/excavator-1174428_960_720.jpg);
        background-size: cover;
        background-position: center;
        nav {
            padding-top: 2em;
            .menu-hamburger {
                display: block;
                position: relative;
                z-index: 1000;
                span {
                    display: block;
                    background-color: $Black;
                    margin: .3em;
                    height: 3px;
                    width: 25px;
                    transform-origin: 9% 56%;
                    transition: all 250ms ease-in-out;
                }
                &.close {
                    >span:first-child {
                        transform: rotate(45deg);
                        background-color: $Black;
                    }
                    >span:nth-child(2) {
                        opacity: 0;
                        background-color: $Black;
                    }
                    >span:last-child {
                        transform: rotate(-45deg);
                        background-color: $Black;
                    }
                }
            }
        }
    }
    .logo {
        margin-left: -0.5em;
        position: relative;
        z-index: 10;
    }
    .menu {
        background: $white;
        position: fixed;
        top: 0;
        width: 80%;
        bottom: 0;
        z-index: 12;
        margin-left: auto;
        left: 0;
        right: 0;
        height: 100vh;
        transition: all 250ms ease-in-out;
        .nav-links {
            flex-direction: column;
            width: 85%;
            height: 100vh;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            .nav-btn-link {
                margin-top: 2.5em;
                margin-right: 1em;
                border: 2px solid $Black;
                a {
                    .btn-link {
                        border: none;
                        padding: 0.3em 0.5em;
                        background-color: $white;
                        font-size: 1.5rem !important;
                    }
                }
            }
            .nav-link {
                font-size: 1.5rem;
                margin-bottom: 0.7em;
                .nav-link-item {
                    margin: 0em;
                    text-transform: uppercase;
                    font-family: $text;
                    color: $Black !important;
                }
            }
        }
    }
    //content on hero
    .title-container {
        .title-box {
            .title {
                font-size: 3rem;
            }
        }
    }
}