@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

.header {
  background: url(../images/excavator-1174428_960_720.jpg);
  width: 100vw;
  height: 100vh;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  bottom: 0;
}

.header nav {
  width: 100vw;
  margin: 0 auto;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 2em 1em 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
}

.header nav::after {
  content: '';
  position: absolute;
  top: 0;
  height: 12.5vh;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.4);
  z-index: -1;
  bottom: 0;
}

.header nav .logo img {
  height: 40px;
}

.header nav .menu .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.header nav .menu .nav-links .nav-link .nav-link-item {
  margin: 0em 1em;
  font-family: "Alata", sans-serif;
  color: white;
  position: relative;
}

.header nav .menu .nav-links .nav-link .nav-link-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: white;
  bottom: -4px;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.header nav .menu .nav-links .nav-link .nav-link-item:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header .title-container {
  max-width: 1440px;
  width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .title-container .title {
  padding: 0.6em;
  font-family: "Alata", sans-serif;
  font-weight: 300;
  color: white;
  width: 16ch;
  font-size: 5rem;
  line-height: 1.1;
  z-index: 2;
  text-transform: uppercase;
}

.header .about-container {
  max-width: 1440px;
  margin: 5em 0em;
  width: 100%;
}

.header .about-container .about-table {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .about-container .about-table img {
  width: 40vw;
}

.header .about-container .about-table .about {
  color: black;
  font-weight: 500;
  width: 50ch;
}

.header .about-container .about-table .about h1 {
  padding: 0em 0em 1em 0em;
  font-family: "Alata", sans-serif;
}

.header .about-container .about-table .about p {
  padding: 0em 0em 2em 0em;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

.menu-hamburger {
  display: none;
}

.btn {
  padding: 1em;
  background-color: rgba(83, 35, 35, 0.3);
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 767px) {
  .fixed {
    position: fixed;
  }
  .open {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  .header {
    height: 100vh;
    background: url(../Images/mobile/image-hero.jpg);
    background-size: cover;
  }
  .header nav {
    padding-top: 2em;
  }
  .header nav .menu-hamburger {
    display: block;
    position: relative;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    margin-right: 1em;
  }
  .header nav .menu-hamburger svg {
    position: absolute;
    z-index: 10;
  }
  .header nav .logo {
    margin-left: -0.5em;
    position: relative;
    z-index: 10;
  }
  .header nav .menu {
    background: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .header nav .menu .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header nav .menu .nav-links .nav-link {
    font-size: 1.5rem;
    margin-bottom: 0.7em;
  }
  .header nav .menu .nav-links .nav-link .nav-link-item {
    margin: 0em;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
  }
  .header .title-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .title-container .title {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 1023px) {
  .fixed {
    position: fixed;
  }
  .open {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  .header nav {
    padding-top: 2em;
  }
  .header nav .menu-hamburger {
    display: block;
    position: relative;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    margin-right: 1em;
  }
  .header nav .menu-hamburger svg {
    position: absolute;
    z-index: 10;
  }
  .header nav .logo {
    margin-left: -0.5em;
    position: relative;
    z-index: 10;
  }
  .header nav .menu {
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  .header nav .menu .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header nav .menu .nav-links .nav-link {
    font-size: 1.5rem;
    margin-bottom: 0.7em;
  }
  .header nav .menu .nav-links .nav-link .nav-link-item {
    margin: 0em;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
  }
}
/*# sourceMappingURL=style.css.map */